node_modules
.output
.nuxt
.nitro
.cache
.data
data
coverage
tests
scripts
.env
.env.*
*.md
docker-compose*.yml
Dockerfile
.dockerignore
.gitignore
eslint.config.mjs
vitest.config.ts
assets/previews
assets/cosmetic-previews
assets/previews
